/* ======================================================== */
/* CONFIGURACIÓN GENERAL                                    */
/* ======================================================== */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background-color: #cbdfbc21;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* ======================================================== */
/* HEADER                                                    */
/* ======================================================== */

.header {
    display: flex;
    align-items: center;

    width: 100%;

    background-color: #d4f0be;

    padding: 10px 15px;
}


/* ====================== */
/* BOTÓN VOLVER           */
/* ====================== */

.btn-volver {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 25px;
    height: 25px;

    margin-left: 12px;
    margin-right: 20px;

    background-color: aliceblue;

    border-radius: 50%;

    text-decoration: none;

    flex-shrink: 0;

    transition: all 0.3s ease;
}

.btn-volver:hover {
    background-color: rgba(46, 187, 69, 0.199);
    transform: translateY(-3px) scale(1.02);
}

.btn-volver i {
    margin-top: 5px;

    font-size: 18px;

    color: rgb(8, 99, 23);
}


/* ====================== */
/* ICONO PRINCIPAL        */
/* ====================== */

.icono {
    margin-top: 6px;

    font-size: 40px;

    color: rgb(8, 99, 23);

    flex-shrink: 0;
}


/* ====================== */
/* TEXTO HEADER           */
/* ====================== */

.header-text {
    margin-left: 16px;

    min-width: 0;
}

.header h1 {
    margin: 0;

    text-align: left;

    font-size: 25px;
    line-height: 1.1;
}


/* ======================================================== */
/* USUARIO                                                   */
/* ======================================================== */

.usuario {
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: 20px;

    padding: 8px 12px;

    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.35);

    flex-shrink: 0;
}


/* ICONO */

.usuario > i {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;

    margin-right: 10px;

    border-radius: 50%;

    background-color: #a1c247;

    color: white;

    font-size: 17px;
}


/* INFORMACIÓN */

.usuario-info {
    display: flex;
    flex-direction: column;

    text-align: left;
}

.usuario-info strong {
    color: rgb(8, 99, 23);

    font-size: 14px;
}

.usuario-info span {
    margin-top: 2px;

    color: #666;

    font-size: 11px;
}


/* ========================= */
/* Barra latera              */
/* ========================= */

.nav-lateral{

    position: fixed;
    left: 0;
    top: 0;
    width: 290px;
    height: 100vh;
    padding: 20px;
    text-decoration: none;
    background-color: #d7eec6fb;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.10);
    transition: transform 0.3s ease; 

     z-index: 9999; 
}

.nav-lateral.oculto {
    transform: translateX(-100%); 
}

.btn-toggle.abrir{
   
    margin: 10px;
     padding: 10px 18px;
    background-color: #ffffff; 
    color: #4a6b32;
    border: 1px solid rgba(74, 107, 50, 0.2); 
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); 
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-toggle.abrir:hover {
    background-color: rgba(74, 107, 50, 0.2);;
    transform: scale(1.05);
}

.btn-toggle.cerrar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-bottom: 25px;
    width: 36px;
    height: 36px;
    background-color: rgba(217, 54, 54, 0.1); 
    color: #d93636; 
    border: none;
    border-radius: 50%; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn-toggle.cerrar:active {
    background-color: rgba(156, 31, 31, 0.199);
}


/* Personalizacion de opciones */

.nav-lateral ul {
    list-style: none;
    margin: 0;
    padding: 0;

    border-color: #1a678b;
}

.nav-lateral ul li a {

    display: flex;
    
    text-decoration: none;
    align-items: center;
     padding: 10px 15px;
    background-color: #cbdfbcb6; 
    width: 100%;

    box-sizing: border-box; 
    margin-bottom: 10px;
    border-radius: 6px;

     
    position: relative; 
    overflow: hidden; 
}

.nav-lateral ul li a::after {
    content: ""; 
    position: absolute;
    left: 0;
    bottom: -100%; /* Lo esconde abajo del botón */
    width: 7px; /* Grosor de la línea */
    height: 100%;
    background-color: rgb(51, 99, 23); /* El color verde de tus iconos */
    transition: bottom 0.2s ease; /* Animación de deslizamiento */
}

.nav-lateral ul li a:hover::after {
    bottom: 0; 
}

.nav-lateral ul li a:hover {
    background-color: #a6bd96; 
}

.nav-lateral ul li a i {
    font-size: 20px;  
    color: rgb(51, 99, 23);
    margin: 10px;
     margin: 0 12px 0 0; 
}

.nav-lateral ul li strong {
    font-size: 16.9px;  
    color: rgb(51, 99, 23);
    margin: 0;
    margin-left: 0;
}