    <header class="header">

        <button id="btn-toggle" class="btn-toggle abrir">☰</button>

        <!-- LOGO -->
        <img src="../assets/icons/logo_solo.png" alt="Logo">

        <!-- INFORMACION -->
        <div class="header-text">
            <h1>
                Sistema de Administración de<br>
                <span>Inventario</span>
            </h1>
            <p>
                Administra el inventario de tu negocio de una manera más organizada
            </p>
        </div>

        <!-- INFORMACIÓN DEL USUARIO -->
        <div class="usuario">

            <i class="fi fi-sr-user"></i>

            <div class="usuario-info">
                <strong>Administrador</strong>
                <span>Usuario del sistema</span>
            </div>

        </div>

    </header>