    <aside class="nav-lateral oculto" id="nav-lateral">

        <button id="btn-toggle" class="btn-toggle cerrar">✕</button>
        
        <ul>
            <li><a href="../index.html"> 
                <i class="fi fi-sr-home"></i>
                <strong>
                    Inicio
                </strong> 
            </a></li>
            
            <li><a href="pages/productos.html"> 
                <i class="fi fi-sr-box-alt"></i>
                <strong>
                    Productos
                </strong> 
            </a></li>

            <li><a href="pages/inventario.html"> 
                <i class="fi fi-sr-inventory-alt"></i>
                <strong>
                    Inventario
                </strong> 
            </a></li>

            <li><a href="pages/ventas.html">
                <i class="fi fi-sr-shopping-cart"></i>
                <strong>
                    Ventas
                </strong> 
            </a></li>

            <li><a href="pages/clientes.html"> 
                <i class="fi fi-sr-users"></i>
                <strong>
                    Clientes
                </strong> 
            </a></li>
            <li><a href="pages/categorias.html"> 
                <i class="fi fi-ss-category"></i>
                <strong>
                    Categorias
                </strong> 
            </a></li>
            <li><a href="pages/proveedores.html"> 
                <i class="fi fi-br-supplier-alt"></i>
                <strong>
                    Proveedores
                </strong> 
            </a></li>
        </ul>
    </aside>